#clsc{
    width: 200px;
    margin: auto;
    display: block;
    overflow: visible;
    #mask1,#mask2{
        .add{
            transition: .3s;
            width: 100%;
            height: 105px;
            fill: white;
        }
    }
    #mask2{
        .add{
            width: 0;
            transition: width 0s .3s, x 0s .3s;
        }
    }
    .covalent{
        transition: .3s;
        opacity: 0;
        path, polygon{
            fill: #616365;
            &.green{
                fill: #C1BB00;
            }
        }
    }
    .logic{
        transition: .3s;
        opacity: 0;
        path{
            fill: #616365;
        }
    }
    .created{
        transition: .3s;
        rect,path,circle{
            fill: #616365;
        }
        rect{
            transition: opacity 0s .3s;
            transform: translateY(-100px);
        }
        path{
            transition: .1s .1s;
            opacity: 1;
        }
    }
    .logo-shapes{

        *{
            fill: none;
            stroke: #B8B8B8;
            stroke-width: 2;
            opacity: 1;
            transition: 0s;
        }
        rect{
            stroke-dasharray: 237.6, 237.6;
            stroke-dashoffset: 237.6;
        }
        circle{
            stroke-dasharray: 186.6, 186.6;
            stroke-dashoffset: 186.6;
        }
    }
    .logo{
        opacity: 0;
        path{
            fill: #616365;
            &.green{
                fill: #C1BB00;
            }
        }
    }
    .link{
        width: 0;
        height: 0;
    }
    &.neutral{
        .created, .covalent, .logic, .logo{
            *{
                fill: rgba(255,255,255,.4)!important;
            }
        }
        .logo-shapes{
            *{
                fill: none;
                stroke: rgba(255,255,255,.4);
            }
        }
    }
    &:hover, &.open{
        .link{
            width: 100%;
            height: 100%;
            fill: rgba(0,0,0,0);
            transition: 0s .3s;
        }
        .created{
            transform: translateY(100px);
            rect{
                transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
                width: 2px!important;
                x:273px!important;
                opacity: 0;
            }
            path{
                transition: .1s;
                opacity: 0;
            }
        }
        #mask1 .add{
            transform: translateY(-100px);
        }
        #mask2 .add{
            transition: .6s 1s;
            width: 300px;
        }
        .covalent{
            opacity: 1;
            transition: 0;
        }
        .logic{
            opacity: 1;
            transition: .6s 1.2s;
        }
        .logo-shapes{
            rect, circle{
                stroke-dashoffset: 0;
                opacity: 0;
                transition: stroke-dashoffset .75s, transform .5s .5s, stroke-width .5s .75s, opacity 1s 1s;
            }
            circle{
                stroke-width: 7.5px;
                &:first-of-type{
                    transform: translate(-0.8%, -11.1%) scale(1.07);
                }
                &:last-of-type{
                    transform: translate(-14.2%, 9.7%) scale(1.06);
                }
            }
        }
        .logo{
            opacity: 1;
            transition: opacity .75s 1s;
        }
    }
}
