//
.container{
    width: 540px;
    height: 400px;
    margin: 30px auto;
    padding: 20px;
    position: relative;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$strokeColor: #B8B8B8;
$heartColor: #E21737;
$size: 180px * 1.8; // change this to manipulate overall size
$totalAnim: 7s;
$delay: 1s;
$squareLen: 240;
$circleLen: 188.522;
$heartLen: 308.522;
$svgSize: 90px;
$circleW: 60px;
$newCircleW: 3.1415 * 182.22;
$newSquareW: 4 * 182.22;

.heart-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: $size/-2;
  width: $size;
  height: $size;
  overflow: visible;

  &__group {
    transform-origin: 0 $svgSize;
    animation: group-anim $totalAnim $delay infinite;
  }

  &__square {
    stroke: $strokeColor;
    stroke-dasharray: $squareLen, $squareLen;
    stroke-dashoffset: $squareLen;
    animation: square-anim $totalAnim $delay infinite;
  }

  &__circle {
    stroke: $strokeColor;
    stroke-dasharray: $circleLen, $circleLen;
    stroke-dashoffset: $circleLen;
    transform-origin: $circleW $circleW/2;

    &.m--left {
      animation: left-circle-anim $totalAnim $delay infinite;
    }

    &.m--right {
      animation: right-circle-anim $totalAnim $delay infinite;
    }
  }

  &__heartPath {
    stroke: $heartColor;
    fill: transparent;
    stroke-dasharray: $heartLen, $heartLen;
    stroke-dashoffset: $heartLen;
    animation: heart-anim $totalAnim $delay infinite;
  }
}
@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: $circleLen;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateY($circleW/-2);
    opacity: 0;
  }
}
@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: $circleLen;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateX($circleW/2);
    opacity: 0;
  }
}
@keyframes group-anim {
  43% {
    transform: rotate(0);
  }
  54% {
    transform: rotate(-45deg);
  }
  90% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
@keyframes heart-anim {
  55% {
    stroke-dashoffset: $heartLen;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  87% {
    stroke-dashoffset: 0;
    fill: $heartColor;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $heartColor;
  }
}
.cov-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: $size/-2;
  width: $size;
  height: $size;
  overflow: visible;
  // transition: .7s;
  background: grey;
  &__group {
    // transform-origin: 0 $svgSize;
    // animation: group-anim $totalAnim $delay infinite;
    transition: .7s;
  }

  &__square {
    stroke: $strokeColor;
    stroke-dasharray: $squareLen, $squareLen;
    stroke-dashoffset: $squareLen;
    transition: .7s;
    // animation: square-anim $totalAnim $delay infinite;
  }
  &__circle {
    stroke: $strokeColor;
    stroke-dasharray: $circleLen, $circleLen;
    stroke-dashoffset: $circleLen;
    // transform-origin: $circleW $circleW/2;
    transition: .7s;
  }
  &:hover{
      cursor: pointer;
      background: transparent;
      .cov-loader__square{
          stroke-dashoffset: 0;
      }
      .cov-loader__circle{
          stroke-dashoffset: 0;
          transition: stroke-dashoffset .8s, transform .8s .8s;
          &.one{
            transform: translate(18%, -10%) scale(1.04);
            transform-origin: center;
          }
          &.two{
                transform: translate(-29%, 13%) scale(1.06);
                transform-origin: center;
          }
      }
  }
}
#site-credit{
    width: 150px;
    margin-bottom: 50px;
    height: auto;
    // transform: scale(5);
    margin: auto;
    position: relative;
    #bug{
        width: 50px; height: 50px;
        position: absolute;
        top: -36%; right: -17%;
        overflow: visible;
        #shapes{
            rect{
                stroke: $strokeColor;
                stroke-width: 2px;
                opacity: 1;
                fill: none;
                stroke-dasharray: $newCircleW, $newCircleW;
                stroke-dashoffset: $newCircleW;
                transition: 0s;
            }
            circle{
                stroke: $strokeColor;
                stroke-width: 2px;
                opacity: 1;
                fill: none;
                stroke-dasharray: $newCircleW, $newCircleW;
                stroke-dashoffset: $newCircleW;
                transition: 0s;
            }
        }
        #logo{
            fill: rgb(103, 103, 103);
            opacity: 0;
            transition: opacity .5s;
        }
    }
    #words{
        max-width: 500px;
        margin: 0 auto;
        display: block;
        #created{
            path, #screen{
                fill: #616365;
            }
            #screen{
                transform: translateY(-50px);
            }
            transition: .3s;
        }
        #mask1,#mask2{
            .add{
                transition: .6s;
                width: 100%;
                height: 100px;
                fill: white;
            }
        }
        #mask2{
            .add{
                width: 0;
                // x: 300px;
            }
        }
        #logic{
            opacity: 0;
        }

    }
    &:hover{
        cursor:pointer;
        #bug{
            #shapes{
                rect, circle{
                    stroke-dashoffset: 0;
                    opacity: 0;
                    transition: stroke-dashoffset 1.5s, transform .75s .25s, stroke-width .5s .5s, opacity 1s .75s;
                }
                circle{
                    stroke-width: 11px;
                    &:first-of-type{
                        transform: translate(11.4%, -14%) scale(1.07);
                    }
                    &:last-of-type{
                        transform: translate(-28.3%, 11.8%) scale(1.06);
                    }
                }
            }
            #logo{
                opacity: 1;
                transition: opacity .75s .75s;
            }
        }
        #words{
            #created{
                transform: translateY(50px);
                #screen{
                    transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
                    width: 2px!important;
                    x:273px!important;
                    opacity: 0;
                }
                + #mask1 .add{
                    transform: translateY(-100px);
                }
            }
            #covalent{
                + #mask2 .add{
                    // x: 0;
                    transition: .6s 1s;
                    width: 300px;
                }
            }
            #logic{
                opacity: 1;
                transition: .6s 1.2s;
            }
        }
    }
}
@import 'site-credit';
