.container {
  width: 540px;
  height: 400px;
  margin: 30px auto;
  padding: 20px;
  position: relative; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.heart-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: -162px;
  width: 324px;
  height: 324px;
  overflow: visible; }
  .heart-loader__group {
    -webkit-transform-origin: 0 90px;
            transform-origin: 0 90px;
    -webkit-animation: group-anim 7s 1s infinite;
            animation: group-anim 7s 1s infinite; }
  .heart-loader__square {
    stroke: #B8B8B8;
    stroke-dasharray: 240, 240;
    stroke-dashoffset: 240;
    -webkit-animation: square-anim 7s 1s infinite;
            animation: square-anim 7s 1s infinite; }
  .heart-loader__circle {
    stroke: #B8B8B8;
    stroke-dasharray: 188.522, 188.522;
    stroke-dashoffset: 188.522;
    -webkit-transform-origin: 60px 30px;
            transform-origin: 60px 30px; }
    .heart-loader__circle.m--left {
      -webkit-animation: left-circle-anim 7s 1s infinite;
              animation: left-circle-anim 7s 1s infinite; }
    .heart-loader__circle.m--right {
      -webkit-animation: right-circle-anim 7s 1s infinite;
              animation: right-circle-anim 7s 1s infinite; }
  .heart-loader__heartPath {
    stroke: #E21737;
    fill: transparent;
    stroke-dasharray: 308.522, 308.522;
    stroke-dashoffset: 308.522;
    -webkit-animation: heart-anim 7s 1s infinite;
            animation: heart-anim 7s 1s infinite; }

@-webkit-keyframes square-anim {
  12% {
    stroke-dashoffset: 0; }
  43% {
    stroke-dashoffset: 0;
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    opacity: 0; } }

@keyframes square-anim {
  12% {
    stroke-dashoffset: 0; }
  43% {
    stroke-dashoffset: 0;
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    opacity: 0; } }

@-webkit-keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522; }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0; } }

@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522; }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0; } }

@-webkit-keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522; }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0; } }

@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522; }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1; }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0; } }

@-webkit-keyframes group-anim {
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  54% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  90% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1; }
  97% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0; } }

@keyframes group-anim {
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  54% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  90% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1; }
  97% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0; } }

@-webkit-keyframes heart-anim {
  55% {
    stroke-dashoffset: 308.522;
    fill: transparent; }
  70% {
    stroke-dashoffset: 0;
    fill: transparent; }
  87% {
    stroke-dashoffset: 0;
    fill: #E21737; }
  100% {
    stroke-dashoffset: 0;
    fill: #E21737; } }

@keyframes heart-anim {
  55% {
    stroke-dashoffset: 308.522;
    fill: transparent; }
  70% {
    stroke-dashoffset: 0;
    fill: transparent; }
  87% {
    stroke-dashoffset: 0;
    fill: #E21737; }
  100% {
    stroke-dashoffset: 0;
    fill: #E21737; } }

.cov-loader {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: -162px;
  width: 324px;
  height: 324px;
  overflow: visible;
  background: grey; }
  .cov-loader__group {
    -webkit-transition: .7s;
    transition: .7s; }
  .cov-loader__square {
    stroke: #B8B8B8;
    stroke-dasharray: 240, 240;
    stroke-dashoffset: 240;
    -webkit-transition: .7s;
    transition: .7s; }
  .cov-loader__circle {
    stroke: #B8B8B8;
    stroke-dasharray: 188.522, 188.522;
    stroke-dashoffset: 188.522;
    -webkit-transition: .7s;
    transition: .7s; }
  .cov-loader:hover {
    cursor: pointer;
    background: transparent; }
    .cov-loader:hover .cov-loader__square {
      stroke-dashoffset: 0; }
    .cov-loader:hover .cov-loader__circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset .8s, -webkit-transform .8s .8s;
      transition: stroke-dashoffset .8s, -webkit-transform .8s .8s;
      transition: stroke-dashoffset .8s, transform .8s .8s;
      transition: stroke-dashoffset .8s, transform .8s .8s, -webkit-transform .8s .8s; }
      .cov-loader:hover .cov-loader__circle.one {
        -webkit-transform: translate(18%, -10%) scale(1.04);
                transform: translate(18%, -10%) scale(1.04);
        -webkit-transform-origin: center;
                transform-origin: center; }
      .cov-loader:hover .cov-loader__circle.two {
        -webkit-transform: translate(-29%, 13%) scale(1.06);
                transform: translate(-29%, 13%) scale(1.06);
        -webkit-transform-origin: center;
                transform-origin: center; }

#site-credit {
  width: 150px;
  margin-bottom: 50px;
  height: auto;
  margin: auto;
  position: relative; }
  #site-credit #bug {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -36%;
    right: -17%;
    overflow: visible; }
    #site-credit #bug #shapes rect {
      stroke: #B8B8B8;
      stroke-width: 2px;
      opacity: 1;
      fill: none;
      stroke-dasharray: 572.44413, 572.44413;
      stroke-dashoffset: 572.44413;
      -webkit-transition: 0s;
      transition: 0s; }
    #site-credit #bug #shapes circle {
      stroke: #B8B8B8;
      stroke-width: 2px;
      opacity: 1;
      fill: none;
      stroke-dasharray: 572.44413, 572.44413;
      stroke-dashoffset: 572.44413;
      -webkit-transition: 0s;
      transition: 0s; }
    #site-credit #bug #logo {
      fill: #676767;
      opacity: 0;
      -webkit-transition: opacity .5s;
      transition: opacity .5s; }
  #site-credit #words {
    max-width: 500px;
    margin: 0 auto;
    display: block; }
    #site-credit #words #created {
      -webkit-transition: .3s;
      transition: .3s; }
      #site-credit #words #created path, #site-credit #words #created #screen {
        fill: #616365; }
      #site-credit #words #created #screen {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px); }
    #site-credit #words #mask1 .add, #site-credit #words #mask2 .add {
      -webkit-transition: .6s;
      transition: .6s;
      width: 100%;
      height: 100px;
      fill: white; }
    #site-credit #words #mask2 .add {
      width: 0; }
    #site-credit #words #logic {
      opacity: 0; }
  #site-credit:hover {
    cursor: pointer; }
    #site-credit:hover #bug #shapes rect, #site-credit:hover #bug #shapes circle {
      stroke-dashoffset: 0;
      opacity: 0;
      -webkit-transition: stroke-dashoffset 1.5s, stroke-width .5s .5s, opacity 1s .75s, -webkit-transform .75s .25s;
      transition: stroke-dashoffset 1.5s, stroke-width .5s .5s, opacity 1s .75s, -webkit-transform .75s .25s;
      transition: stroke-dashoffset 1.5s, transform .75s .25s, stroke-width .5s .5s, opacity 1s .75s;
      transition: stroke-dashoffset 1.5s, transform .75s .25s, stroke-width .5s .5s, opacity 1s .75s, -webkit-transform .75s .25s; }
    #site-credit:hover #bug #shapes circle {
      stroke-width: 11px; }
      #site-credit:hover #bug #shapes circle:first-of-type {
        -webkit-transform: translate(11.4%, -14%) scale(1.07);
                transform: translate(11.4%, -14%) scale(1.07); }
      #site-credit:hover #bug #shapes circle:last-of-type {
        -webkit-transform: translate(-28.3%, 11.8%) scale(1.06);
                transform: translate(-28.3%, 11.8%) scale(1.06); }
    #site-credit:hover #bug #logo {
      opacity: 1;
      -webkit-transition: opacity .75s .75s;
      transition: opacity .75s .75s; }
    #site-credit:hover #words #created {
      -webkit-transform: translateY(50px);
              transform: translateY(50px); }
      #site-credit:hover #words #created #screen {
        -webkit-transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
        transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
        width: 2px !important;
        x: 273px !important;
        opacity: 0; }
      #site-credit:hover #words #created + #mask1 .add {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px); }
    #site-credit:hover #words #covalent + #mask2 .add {
      -webkit-transition: .6s 1s;
      transition: .6s 1s;
      width: 300px; }
    #site-credit:hover #words #logic {
      opacity: 1;
      -webkit-transition: .6s 1.2s;
      transition: .6s 1.2s; }

#clsc {
  width: 200px;
  margin: auto;
  display: block;
  overflow: visible; }
  #clsc #mask1 .add, #clsc #mask2 .add {
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 105px;
    fill: white; }
  #clsc #mask2 .add {
    width: 0;
    -webkit-transition: width 0s .3s, x 0s .3s;
    transition: width 0s .3s, x 0s .3s; }
  #clsc .covalent {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0; }
    #clsc .covalent path, #clsc .covalent polygon {
      fill: #616365; }
      #clsc .covalent path.green, #clsc .covalent polygon.green {
        fill: #C1BB00; }
  #clsc .logic {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0; }
    #clsc .logic path {
      fill: #616365; }
  #clsc .created {
    -webkit-transition: .3s;
    transition: .3s; }
    #clsc .created rect, #clsc .created path, #clsc .created circle {
      fill: #616365; }
    #clsc .created rect {
      -webkit-transition: opacity 0s .3s;
      transition: opacity 0s .3s;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px); }
    #clsc .created path {
      -webkit-transition: .1s .1s;
      transition: .1s .1s;
      opacity: 1; }
  #clsc .logo-shapes * {
    fill: none;
    stroke: #B8B8B8;
    stroke-width: 2;
    opacity: 1;
    -webkit-transition: 0s;
    transition: 0s; }
  #clsc .logo-shapes rect {
    stroke-dasharray: 237.6, 237.6;
    stroke-dashoffset: 237.6; }
  #clsc .logo-shapes circle {
    stroke-dasharray: 186.6, 186.6;
    stroke-dashoffset: 186.6; }
  #clsc .logo {
    opacity: 0; }
    #clsc .logo path {
      fill: #616365; }
      #clsc .logo path.green {
        fill: #C1BB00; }
  #clsc .link {
    width: 0;
    height: 0; }
  #clsc.neutral .created *, #clsc.neutral .covalent *, #clsc.neutral .logic *, #clsc.neutral .logo * {
    fill: rgba(255, 255, 255, 0.4) !important; }
  #clsc.neutral .logo-shapes * {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4); }
  #clsc:hover .link, #clsc.open .link {
    width: 100%;
    height: 100%;
    fill: rgba(0, 0, 0, 0);
    -webkit-transition: 0s .3s;
    transition: 0s .3s; }
  #clsc:hover .created, #clsc.open .created {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
    #clsc:hover .created rect, #clsc.open .created rect {
      -webkit-transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
      transition: width .6s .3s, x .6s 1s, opacity .3s 1.2s;
      width: 2px !important;
      x: 273px !important;
      opacity: 0; }
    #clsc:hover .created path, #clsc.open .created path {
      -webkit-transition: .1s;
      transition: .1s;
      opacity: 0; }
  #clsc:hover #mask1 .add, #clsc.open #mask1 .add {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  #clsc:hover #mask2 .add, #clsc.open #mask2 .add {
    -webkit-transition: .6s 1s;
    transition: .6s 1s;
    width: 300px; }
  #clsc:hover .covalent, #clsc.open .covalent {
    opacity: 1;
    -webkit-transition: 0;
    transition: 0; }
  #clsc:hover .logic, #clsc.open .logic {
    opacity: 1;
    -webkit-transition: .6s 1.2s;
    transition: .6s 1.2s; }
  #clsc:hover .logo-shapes rect, #clsc:hover .logo-shapes circle, #clsc.open .logo-shapes rect, #clsc.open .logo-shapes circle {
    stroke-dashoffset: 0;
    opacity: 0;
    -webkit-transition: stroke-dashoffset .75s, stroke-width .5s .75s, opacity 1s 1s, -webkit-transform .5s .5s;
    transition: stroke-dashoffset .75s, stroke-width .5s .75s, opacity 1s 1s, -webkit-transform .5s .5s;
    transition: stroke-dashoffset .75s, transform .5s .5s, stroke-width .5s .75s, opacity 1s 1s;
    transition: stroke-dashoffset .75s, transform .5s .5s, stroke-width .5s .75s, opacity 1s 1s, -webkit-transform .5s .5s; }
  #clsc:hover .logo-shapes circle, #clsc.open .logo-shapes circle {
    stroke-width: 7.5px; }
    #clsc:hover .logo-shapes circle:first-of-type, #clsc.open .logo-shapes circle:first-of-type {
      -webkit-transform: translate(-0.8%, -11.1%) scale(1.07);
              transform: translate(-0.8%, -11.1%) scale(1.07); }
    #clsc:hover .logo-shapes circle:last-of-type, #clsc.open .logo-shapes circle:last-of-type {
      -webkit-transform: translate(-14.2%, 9.7%) scale(1.06);
              transform: translate(-14.2%, 9.7%) scale(1.06); }
  #clsc:hover .logo, #clsc.open .logo {
    opacity: 1;
    -webkit-transition: opacity .75s 1s;
    transition: opacity .75s 1s; }
/*# sourceMappingURL=main.css.map */